[2019-06-12 12:53] MarkAdamson opened #1 "Condition plug-in"
Add a 'Condition' plug-in for use in Tasker contexts.

The condition should allow the user to check the state of an entity and use the result to decide whether a task should run.

[2019-06-12 12:54] MarkAdamson opened #2 "Support for Variables"
Allow Tasker variables to be used in the plugin.

[2019-06-12 12:56] MarkAdamson opened #3 "Search the services list"
Some kind of search in the services select would be pretty cool because now it's pretty hard to find the correct service just by scrolling in the list of like 100+ services.

[2019-06-12 12:57] MarkAdamson opened #4 "Get an entity state"
It would be good to be able to retrieve the state of an entity to use within a task.

[2019-06-13 19:35] #4 closed, assigned to MarkAdamson

[2019-06-13 19:38] MarkAdamson commented on #4
Implemented in commit bc1f1c6.

[2019-06-17 11:39] lachlan334 opened #5 "Changing state of input_boolean stops working after some time"
I'm trying to turn an input boolean on and off. When I test the action in the config screen of this plugin it works, and will then work in Tasker, but stops after a while. I haven't been able to pin down exactly how long it takes for it to stop working, but it is longer than 30 minutes and less than 4 hours. I'll keep testing when I can to narrow this down further.

After this time has elapsed, tr

[2019-06-19 14:29] dale3h commented on #4
I might be overlooking something super simple, but I cannot seem to get the state of an entity into a Tasker variable for use in a task. The test button on the **Get State** configuration screen works fine and shows the correct state.

- On the "Get State" configuration screen, does the **Variable** field relate to a Tasker variable?
- If so, should I include the leading `%` in the variable name?

[2019-06-19 15:05] MarkAdamson commented on #4
Hi Dale,

It's not super obvious, but you need to set a timeout on the 'Get State' action, to allow the task to await the result before continuing. Otherwise it carries on instantly without actually retrieving the result into the variable. I really should add this to the readme.

Let me know if that does it for you.

[2019-06-19 15:08] MarkAdamson commented on #4
Btw, to answer your questions:
- Yes, the **Variable** field does relate to a Tasker variable.
- Yes, you should include the leading `%` in the variable name.

HTH :)

[2019-06-19 15:40] MarkAdamson commented on #3
implemented in 0b137fbd8116cd9586072343e036a22127cb081f

[2019-06-19 15:40] #3 closed, assigned to MarkAdamson

[2019-06-19 15:41] MarkAdamson commented on #2
implemented in 0b137fbd8116cd9586072343e036a22127cb081f

[2019-06-19 15:41] #2 closed, assigned to MarkAdamson

[2019-06-19 22:25] genem2 commented on #4
I'm not seeing this either. plug-in: 1.0.4.   HA: 0.94.3,  Tasker: 5.7.2

Note that A1 doesn't reflect the output variable (%ot). Ok, fine, but entering A2, Tasker isn't listing the variable as an option, either. I came seem to get anything back. Testing step A1 toasts the temperature just fine. Step A3 works perfectly.
Thoughts?

[2019-06-19 22:55] MarkAdamson commented on #4
Hmm. Ok @genem2, and I assume you're getting the same issue as dale, where the toast in A2 just displays '%ot', not the sensor reading?

Could you check over [this list](https://tasker.joaoapps.com/userguide/en/faqs/faq-problem.html#00) and make sure you've applied the appropriate battery optimization settings to both Tasker and the plugin?

208 seconds is a long timeout on step A1 - it's a simple

[2019-06-19 22:59] genem2 commented on #4
So sorry, I was editing the comment to include what I found...

My Flash was not appearing - at all - because Tasker had Notifications disabled. However two things users have to remember: Everytime you _configure_ the plug-in's task, Tasker resets the timeout back to zero. Also, the variable you're configuring in the task will not appear as a variable in Tasker selection screens until you enter it

[2019-06-19 23:01] MarkAdamson commented on #4
Good stuff - no worries, that damn timeout reverting to zero has caught me out a few times too! Glad it's working for you now :)

[2019-06-21 14:24] MarkAdamson commented on #4
Hi @dale3h - same questions as for genem2:
* Could you check over [this list](https://tasker.joaoapps.com/userguide/en/faqs/faq-problem.html#00) and make sure you've applied the appropriate battery optimization settings to both Tasker and the plugin?
* When you run the task, does the 'Get State' action take the full timeout and error, does it seem to return instantly, or does it take a normal-seem

[2019-06-21 15:50] genem2 commented on #4
I never thought about that, but have now removed it from optimization

I experience what you're classifying as normal. I get the value bach right way when it's working, otherwise it blocks for the timeout time.

BTW: Yesterday I've noticed there were times when things just not communicating. If I open the task and press the play icon in Tasker, it blocks on my first entry (sensor.indoor_temp) ane

[2019-06-21 16:48] MarkAdamson commented on #4
Huh, that's really strange. So you're saying that fetching sensor.indoor_temp on the first line sometimes fails, but fetching sensor.outdoor_temp on another line always succeeds?

That's really confusing... Can you try and find out if maybe the problem only affects actions on the first line?

I'm at a bit of a loss I'm afraid. I'm planning to get this on the play store at some point, then I'll be

[2019-06-21 16:53] genem2 commented on #4
Agreed, strange. I wasn't going to write you about it until I had a better handle on it, myself. It's not feeling at this moment, but next time it does I'll investigate further and see what I can find.

[2019-06-21 20:12] dale3h commented on #4
I have searched everywhere, but my device does not have battery optimization settings enabled. It has no internal battery, runs from my Jeep’s battery.

It has never taken the full timeout, and always seems to take a normal amount of time. I have tried adding more lines to get other entities, but still no luck.

Until today, I was still using 1.0.3. Upgraded to 1.0.4 and still broken.

I do have l

[2019-06-21 20:13] dale3h commented on #4
As for the other settings mentioned in that link, I have applied as many that were available to do on my device (Seicane 10.1” Android 7.1 Jeep Wrangler head unit)

[2019-06-21 21:02] MarkAdamson commented on #4
@dale3h, I think I can help with those - afaik, tasker variables must be at least three characters long, and variables returned from plugins must be all lowercase. Try changing your vars to:
* %sunstate
* %dale
* %time

And see if it works.

[2019-06-22 01:29] dale3h commented on #4
I think I tried `%sunstate` without success, but I will definitely give it try and let you know! Thank you again!

[2019-06-22 01:39] genem2 commented on #4
FWIW: I also wrestled with this variable issue, which lead me to this thread. I never realized that Tasker was reseting the timeout value everyone time I made a change to the plug-in. Once learned, I revisited all my other plug-in calls, fixing them too.

[2019-06-22 01:51] MarkAdamson commented on #4
Btw, the latest build fixes the timeout issue, and tidies up the variable handling generally. It's not in a release yet, but the [apk](https://github.com/MarkAdamson/home-assistant-plugin-for-tasker/raw/master/HomeAssistantTaskerPlugin/HomeAssistantTaskerPlugin-release.apk) is available.

[2019-06-22 22:37] genem2 commented on #4
Whoa! Nice update (1.0.5). Default setting of timeout! Variables now selectable when entering next commands!  This thing rocks.

[2019-06-24 10:19] simonhq commented on #5
Hi, I think I am getting the same issue, though I haven't gone into as much testing.

For me if I trigger the task manually it works, but if it is trigger it via a profile change nothing seems to happen.

I am not using the get state, only turning on or off an input boolean.

[2019-06-24 11:42] lachlan334 commented on #5
The dev said on reddit that he couldn't reproduce the issue so I'm glad it's not just me.

I am also not using get state, simply turning the input boolean on and off.

[2019-06-25 23:10] MarkAdamson commented on #5
Damn, this is a frustrating one.

Could you both please check over [this list](https://tasker.joaoapps.com/userguide/en/faqs/faq-problem.html#00) and make sure the plugin isn't being optimized for battery?

[2019-06-26 08:46] lachlan334 commented on #5
The plugin *was* being battery optimised. I have turned that off and it **seems** to be working as expected now.

I will let it go overnight as that's when the condition to trigger actually happens, and if it is still working I'll close the issue.

[2019-06-26 09:32] dannyqwertz opened #6 "Plugin not working from within Tasker / Error:null"
I have problems getting this plugin to run.

I can call services and get states from within the plugin configuration (via "Test service" and "Test entity" buttons) but getting an error when performed in a task.

![576-1024](https://user-images.githubusercontent.com/3381961/60168954-0e616380-9806-11e9-8b89-65f8a790481a.png)

![576-1025](https://user-images.githubusercontent.com/3381961/60168953-0e6

[2019-06-26 12:07] MarkAdamson commented on #6
Hi - I see that you're using variables with capital letters. This doesn't seem to work with plugins, I think it may be a limitation of Tasker. Please could try changing the variables to all lower case, and see if it helps?

I should probably put some validation checking here.

[2019-06-26 12:08] MarkAdamson commented on #5
Fingers crossed...

[2019-06-26 15:20] lowfat32 commented on #6
I believe I am having the same issue. If I do a 'test service' insider the task it works every time. And if I run the profile/task immediately afterward it works.  But beyond that I haven't been able to get it to work properly. All I am doing is toggling an input boolean. Have no capital letters in the input_booleans name.

08.35.15/E FIRE PLUGIN: Call Service / com.twofortyfouram.locale.intent.ac

[2019-06-26 15:25] MarkAdamson commented on #6
Hi @lowfat32 - this may be to do with battery optimization. Please could you check over [this list](https://tasker.joaoapps.com/userguide/en/faqs/faq-problem.html#00) and ensure the plugin is not being optimized by Android?

@dannyqwertz - please could you also double check this?

[2019-06-26 15:59] dannyqwertz commented on #6
Battery optimisation is disabled for plugin and tasker, sadly no difference here.

Problem also persists when using direct service call and service data in the task. (light.toggle and a respective entity_id)

Problem doesn't occur when using the "test buttons", this switches lights on and off and also responds correct states.

Your plugin worked perfectly before (1.04), yesterday my saved home ass

[2019-06-26 16:47] MarkAdamson commented on #6
@dannyqwertz, if your credentials disappeared, or you uninstalled/reinstalled, then they'll have gotten unlinked from your actions. You'll need to enter and exit (press back, not cancel) the config screens for all your actions. This should relink them.

Let me know if this helps.

[2019-06-26 17:07] dannyqwertz commented on #6
@MarkAdamson I tried that already, and just now created a whole new task to test again, but same problem persists: Working as it should from within your plugin but throwing error when task is performed in tasker (see attached screenshots)

When performing the task (via play button I circled in screenshot) it takes the set timeout time to run and then throws Error: null

![Screenshot_1](https://use

[2019-06-26 17:11] MarkAdamson commented on #6
@dannyqwertz could you try 'Force Stop' the plugin from the App Info screen, then re-enter Tasker and test the task again please?

[2019-06-26 17:53] dannyqwertz commented on #6
@MarkAdamson I may got it working again now - think the problem after all was this:

I had some tasks running in Tasker which are updating the states of some devices on "screen on" and I didn't re-link the newly entered credentials in this corresponding tasks. My assumption is this somehow also fucked up the newly created tasks which I was using to debug this error .. 🤔

Maybe there is a way to ou

[2019-06-26 18:38] MarkAdamson commented on #6
Haha, no worries, glad you're liking it! Leave the issue open though, cause you're right, it needs a better error message, and there should also be a warning before deleting servers since the results can be so dire...

[2019-06-27 04:21] lachlan334 commented on #5
Looks like battery optimisation was the problem. The plugin has been working without issue for 24 hours now.

[2019-06-27 04:21] #5 closed, assigned to nobody

[2019-06-27 07:28] MarkAdamson opened #7 "Request no battery optimisation"
Some users have found that although the plugin works when testing in the config screens, and in the Task editing screen immediately afterwards, it will stop working at some point later. After some troubleshooting, it has been found that disabling battery optimization for the plugin rectifies this.

Android has an API for checking whether an app is being optimised, and requesting for it to be disab

[2019-06-27 07:32] MarkAdamson opened #8 "Warn the user before deleting a Server"
Currently there is no check or warning when you delete a server from a config screen. This could make it very easy to delete a server by accident - leaving any existing actions that use that server unable to run.

There should be a warning before a server is deleted, and possibly an 'undo' feature afterwards.

[2019-06-27 07:39] MarkAdamson opened #9 "Properly handle actions whose server has been deleted"
It is possible to delete a server while actions still exist that are making use of it. This wouldn't be _such_ a problem, except that afterwards, if any of these actions is run it causes all sorts of cryptic errors, including requesting to force close the plugin, and none of them indicate the actual problem (#6).

In fact, even after you correct the problem and reconfigure all actions, the errors

[2019-06-27 07:43] MarkAdamson commented on #6
Opened issues #8 and #9 to address this. Thanks for the bug report @dannyqwertz.

@lowfat32, I believe your issue is the same as #5 - the resolution for which is #7. Please open a new issue if you're still having problems.

[2019-06-27 07:43] #6 closed, assigned to nobody

[2019-06-27 07:51] MarkAdamson commented on #1
After some thought, I don't think this is appropriate for this plugin. To get _timely_ events and statuses from a home assistant server, it would need to connect to the websocket api (currently only the REST api is used). This would require an always-on background service, which would be complicated, unreliable, and potentially battery-draining.

The alternative would be to poll the REST api for c

[2019-06-27 07:51] #1 closed, assigned to MarkAdamson

[2019-06-27 13:14] MarkAdamson commented on #7
Just a note for myself here:

Apparently, Google are know to remove apps from the Play Store for using ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS. However there is a list of acceptable use cases [here](https://developer.android.com/training/monitoring-device-state/doze-standby#whitelisting-cases), and I would say this plugin definitely falls under "Task Automation App", which is deemed acceptable

[2019-06-27 14:32] MarkAdamson commented on #7
For now, to stay on the safe side, rather than directly requesting to ignore battery optimisation, I've added a check and warning, then send the user to settings to disable optimisation themselves.

Implemented in 956f329

[2019-06-27 14:32] #7 closed, assigned to MarkAdamson

[2019-06-27 15:35] MarkAdamson commented on #8
Implemented in 37f85cc5c357fcdfdd949dc055fe07ad575ea1f2

[2019-06-27 15:35] #8 closed, assigned to MarkAdamson

[2019-06-27 15:35] MarkAdamson commented on #9
Implemented in c87708e9c22893ac63df6b1a2d8fcdda4826cf34

[2019-06-27 15:35] #9 closed, assigned to MarkAdamson

[2019-06-29 01:21] ninjatuned opened #10 "Issue with contacting server"
When attempting to trigger a task it fails with the error below. The task is just checking the state of one object.  If I start creating a new task and verify the server settings (testing the connection from the server config screen) then the task starts working again.

21.06.52/E FIRE PLUGIN: Get State / com.twofortyfouram.locale.intent.action.FIRE_SETTING: 8 bundle keys
21.06.52/E Get State: plu

[2019-07-02 14:40] MarkAdamson commented on #10
Hi ninjatuned, please could you check [this list](https://tasker.joaoapps.com/userguide/en/faqs/faq-problem.html#00), and disable battery optimisation for Tasker and this plugin if you haven't already - thanks.

[2019-07-12 15:00] zigt1301 opened #11 "Unclear from the readme on how to connect to hass through Nabu Casa Cloud"
I am having a rough time properly configurating the plug-in for the second time (I accidentally deleted the working config) and would appreciate it if a little more details were provided.

Like what the base url would be when you use hass Cloud. It could make it a little more easy for a person like myself to configurate the plug-in.

[2019-07-12 15:14] MarkAdamson commented on #11
Hi @zigt1301.

Your base URL when using hass cloud should be the exact one shown when you enable 'Remote Control' in the HA UI - eg:

https://xxxxxxxxxxxxxxxxxxxxxxxxxxxx.ui.nabu.casa

That is _without_ the trailing `/`. You should be able to test this readily enough in the add/edit server screen.

One issue you'll probably run into is that any pre-existing actions won't know to use your newly set

[2019-07-12 15:18] zigt1301 commented on #11
Thank you for the information. It turned out I already had the right Base URL but somehow it wouldn’t connect last night. It does connect now. Could be that it couldn’t reach HASS because I disable Remote UI while I’m home.

Thanks for the timely reaction to my opening of an issue. I’m liking the Plug-IN and will happily provide fmore eedback.

On 12 Jul 2019, at 17:14, MarkAdamson <notifications@

[2019-07-12 15:22] MarkAdamson commented on #11
Yep, that will be why :) I would just leave it enabled if I were you, I doubt there's any harm.

No problem - glad you're liking it :)

[2019-07-12 15:22] #11 closed, assigned to nobody

[2019-07-12 15:39] zigt1301 commented on #11
Can I also use the local IP address as a Base URL? Just asking. For now I'm going to take a look at the Get States and Tasker Vars because I would like run certain tasks only if I'm home.

[2019-07-12 20:55] MarkAdamson commented on #11
There's no reason it wouldn't work on the plugin side - though I feel like I've read somewhere that HA itself won't work via IP only. All I can really suggest is to try it.

For running tasks only while you're home, there's a couple of ways you could go. You could run a Get State of your person or device_tracker entity, and end the task if it returns "home" - or you could add a "Wi-fi Near" condit

[2019-07-14 18:07] dacmcbibs opened #12 "[Feature Request] Certificate authentication for reverse proxy"
I use a reverse proxy with certificate authentication to allow my devices to connect to home assistant remotely.  Just wondering if as a feature request this plugin could utilize a certificate for authentication for access so it could be used in this scenario
Thanks for your consideration and efforts on this really cool Tasker plugin.

[2019-07-17 17:00] dale3h opened #13 "[Feature Request] WebSocket Support"
Home Assistant has a very stable and easy-to-use [WebSocket API](https://developers.home-assistant.io/docs/en/external_api_websocket.html) that would allow this plugin to fire Tasker events based on state changes and/or other Home Assistant events.

The WebSocket API also implements features to call services, fetch state(s) on demand, fetch configuration, fetch services, fetch camera thumbnails, a

[2019-07-17 17:11] dale3h commented on #13
A quick Google search turned up this Android library for implementing WebSockets: https://github.com/koush/AndroidAsync#can-also-create-web-sockets

[2019-07-17 19:58] MarkAdamson commented on #13
I did consider this early on when writing the plugin. An early planned feature was Tasker Conditions (#1), which would necessarily rely on the websocket API (if it was going to be of any use).

I decided against it, for the reasons outlined on that issue.

I'm not categorically against the idea - I certainly would use it, if it avoided the potential problems I've noted. I'd consider any pull reque

[2019-07-17 19:58] #13 closed, assigned to nobody

[2019-07-23 21:41] scottsweb opened #14 "Network error when testing server"
When adding a server and pressing the test button I see "Network error" returned.

Device is a Pixel 2 running Android 9.

Let me know if I can help debug this.

[2019-07-23 21:54] MarkAdamson commented on #14
Hi,

Can you confirm that your server settings are entered exactly the same as in this [screenshot](https://lh3.googleusercontent.com/YTG2XYkT0dvL6hqj6iAchoVBe7YoE-j-FfTriB_7sUKIXi-aTOd6yRx_ySGwDKEtu1c=w2160-h440-rw), with the protocol (http:// or https://) and no trailing `/`?

Is your home assistant running and accessible at the exact same URL as you enter in the "base URL" field?

[2019-07-23 21:59] scottsweb commented on #14
I can confirm they are, the protocol prefix is `http://` and there is no trailing `slash`. Home Assistant is at the same URL.

[2019-07-23 22:05] MarkAdamson commented on #14
Can you post logcat from when the error occurs please?

[2019-07-24 10:06] MarkAdamson commented on #10
I'm closing this issue because of inactivity. @ninjatuned, if you're still experiencing this problem, please feel free to reopen the issue.

[2019-07-24 10:06] #10 closed, assigned to nobody

[2019-07-24 10:10] MarkAdamson commented on #12
Hi @dacmcbibs. Not opposed to this per se, but I'm not familiar with reverse proxy certificate authentication. I use a reverse proxy with letsencrypt - I assume this is not the same thing? Otherwise, this wouldn't be an issue.

Do you have a link to an example/setup guide for this kind of configuration? If I attempt this, I may need to hit you up for some testing, as I probably won't have access t

[2019-07-24 13:44] dacmcbibs commented on #12
Let me know if this doesn't point you in a direction.
  https://www.ssltrust.com.au/help/setup-guides/client-certificate-authentication

[2019-07-25 09:46] scottsweb commented on #14
I haven't been able to retrieve any logs from logcat but I did upgrade to tasker 5.8 and had issues when attempting a standard REST request from an exported APK. It looks like newer Android versions are unable to communicate with http URLs as per: https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted

I have a feeling this might be the same thing. I am happy t

[2019-07-25 13:46] MarkAdamson commented on #14
Ah, good find, I didn't know about that!

To be honest, I'll probably add that permission to the app - after all, it's not up to me to police other people's server security.

[2019-07-25 14:26] scottsweb commented on #14
Sounds good, I have a number of local APIs running without SSL/TLS. I should get around to working that out soon but it is a low priority :)

[2019-08-05 01:19] genem2 opened #15 "Render Template anomaly"
This is a great plug-in. I just went through all of my Tasker tasks and replaced all my home assistant calls using this tool. However, I did find something strange with my one instance of render template.

Given the following template:

"It's currently {{ states.sensor. outdoor_temp.state | int }} degrees and {{ states.sensor.dark_sky_summary.state }}. {{ states.sensor. indoor_temp.state | int }}

[2019-08-05 07:58] MarkAdamson commented on #15
Hi genem. I've replicated this issue on my setup. It doesn't look like a problem with the quoting - more likely a problem with the string building in the plugin. I'll look into it further.

Thanks for the report, much appreciated :)

[2019-08-09 14:02] MarkAdamson commented on #15
Fixed in 1bf1a1a655355b53278cdfec68c2631d18460c30

Thanks again for the report.

[2019-08-09 14:02] #15 closed, assigned to nobody

[2019-08-09 23:09] genem2 commented on #15
Thank you.  Assume I await the update via Play.

Gene

On Fri, Aug 9, 2019 at 7:02 AM MarkAdamson <notifications@github.com> wrote:

[2019-08-09 23:38] MarkAdamson commented on #15
Yep :)

[2019-09-15 23:24] Migz93 commented on #14
Is there still plans to add that permission to the app? Having the same issue when I use a http:// address but if I use my nabu https url it's fine. I usually disable the remote access when I'm home just to close off an unnecessary opening into my network so having your app support just http would be great

[2019-10-15 14:05] SeLLeRoNe opened #16 "Network Error"
Hi there,
I have just installed this plugin for Tasker to play around with some stuff but it is not working to me.

When I try to add the server, and I click "TEST SERVER" it return a "Network Error" error.
I am connected via Wifi, but it does the same over 4G.
I have specified the protocol on the Base URL and the Access Token (the error remains the same with or without Access Token)

I have other

[2019-10-16 20:55] lildevilx commented on #6
Hey @dannyqwertz I seem to be getting the exact same error you are, however as you suggested, i've tried to enter into the config, and hit the back button to back out to the task list, but I'm still having the same error. Is that all you had to do? did you do anything else to get this working?

Thanks!

[2019-10-25 19:01] De4eX commented on #14
I'm also interested in using http://
Any progress on this?
Thanks.

[2019-10-27 13:43] Nobeernogman commented on #16
Here the same problem, network error. http://localHAip. + long life token.. Any tips?

[2019-10-29 01:16] lildevilx commented on #16
You guys need to run the server encrypted so you use the https protocol

[2019-10-30 05:09] devmau5 commented on #16
I seem to be having the same issue, I do have a self-signed cert for https on the server and the CA has been added to the device. I get a Network Error with http, https, with and without the port being specified. If you drop the http/s altogether then you get an IO Error.

Seems that since Android 7.0 a self-signed CA certificate needs to be loaded directly into the app: https://support.google.com

[2019-10-30 09:39] SeLLeRoNe commented on #16
My problem it's kind of different from every other response.

I do use HTTPS
I do not use a Self Signed Cert, I have a Let's Encrypt valid certificate.

Thanks
Andrea

[2019-10-30 17:24] lildevilx commented on #16
For your certificate, do you give the address for your local network as well?

[2019-11-05 17:58] teitelbot opened #17 "Can't download app"
When it tries to install the app it switches to another app called locale and wants me to pay $10
Any idea what's going on?

[2019-11-12 16:09] scottsweb commented on #14
Because I was exporting my tasker profiles to APKs, I managed to get around this by setting a maximum Andorid version to 21 during the export. The older versions are less fussy about using insecure domains.

[2019-11-13 16:41] MarkAdamson commented on #17
Hi @teitelbot. The plugin is installed - but when you try to "open" it, it takes you to the Play Store page for Locale. This is because my plugin is not an "app" that you can "open", but a plugin for automation apps such as Tasker or Locale.

As long as the plugin is installed on your device, you can make use of it by creating a new task in Tasker and adding Action: 'Plugin' > 'Home Assistant Plug

[2019-11-13 16:42] #17 closed, assigned to nobody

[2019-11-22 15:25] tiagofreire-pt commented on #16
I also have this issue with no https protocol involved.

[2019-11-22 15:28] SeLLeRoNe commented on #16
Yes I do @lildevilx
Internally (LAN/Wifi( the host resolve to the local IP while externally it resolve with the public one.

In both cases, the certificate is valid

[2019-11-28 05:29] Anon0ne opened #18 "Plugin not showing up in Tasker"
Hello, I am running a Pixel 3XL on Android 10. Tasker is updated to latest, and your plugin is also updated to the latest version. However, after installation and even trying to run the app and restarting Tasker multiple times (including phone reboots) I cannot get this plugin to show up in the list under Plugins or Add-ons.

[2019-12-07 00:03] fiservedpi opened #19 "Cannot create task "JSON ERROR""
Can you share a screenshot of the JSON format it's looking for I've tried every which way but no success
`switch.toggle`
`{"entity_id":"switch.tree"}`

[2019-12-07 00:15] #19 closed, assigned to nobody

[2019-12-07 00:15] fiservedpi commented on #19
Nvm I got it, i think it was still updating while I was trying

[2019-12-08 10:59] ArbiterGR opened #20 "Plugin stops working when switch from wifi to mobile data unless i click the test button again."
Hello, as the title suggest, the plugin will randomly stop working throwing timeout errors, when switching between wifi/mobile data. If i click on the test button, the plugin will then work ok until the next time.

I've seen other users on reddit reporting the same issue. Could you take a look please?

[2020-01-06 15:42] redlegoman commented on #14
I'm having the same issue. I can't access a http:// link for my local hass server but can use the external https:// link I use for extenal (nginx reverse proxy). Any plans to allow plain http:// ?

[2020-01-06 16:15] MarkAdamson commented on #14
This should be resolved in the latest release. See 6870895f5723c78e8404de06a2aed7c2ccd8766e.

Let me know if it's still a problem for anyone.

[2020-01-06 16:15] #14 closed, assigned to nobody

[2020-01-06 16:23] MarkAdamson commented on #18
Hi @Anon0ne, please can you just confirm that you are searching under 'Action' plugins, and not 'Event' or 'State' plugins?

Thank you.

[2020-01-06 16:25] redlegoman commented on #14
Is that the version available on the Play Store? I installed from the store today and this was obviously the first problem I had.

[2020-01-06 16:31] MarkAdamson commented on #14
I've pushed the update to the play store, but only about 15 minutes ago, so it's unlikely you've got it yet :) version 1.1.5 has the fix in.

[2020-01-19 19:36] cisco187 opened #21 "Service calls work in the plugin but not when called by Tasker."
I'm having a problem I can see others have had, but the fixes aren't working for me. When I call a HA service in the plugin (testing it), it works but I get the below error when calling it from Tasker. I've confirmed it's not battery optimized, it's allowed to access the internet in the background, and I've made no recent changes to the credentials. Can't seem to figure out the problem.

14.27.27/

[2020-01-26 08:22] Nuudel1 commented on #21
Same here, all battery optimizations disabled for the Tasker and Plugin. Plugin version 1.1.5 and Xiaomi Mi6.

10.21.11/E FIRE PLUGIN: Get State / com.twofortyfouram.locale.intent.action.FIRE_SETTING: 8 bundle keys
10.21.11/E Get State: plugin comp: com.markadamson.taskerplugin.homeassistant/com.markadamson.taskerplugin.homeassistant.receiver.FireReceiver
10.21.11/E add wait type Plugin1 time 5
10

[2020-01-26 20:30] Nobeernogman commented on #21
Same problem here on a xiaomi mi note 3.

[2020-02-02 13:42] sebastian-ruiz commented on #18
I have the same problem.

I am on the 'Tasks' tab in the home screen in Tasker. I add a new task, and in the new task I add an action. It then gives me a list of actions. Under 3rd Party Action, there is no Home Assistant plugin. When I filter the actions by searching for 'home' the Home Assistant plugin also does not appear.

I don't know what you mean by 'Action', 'Event' or 'State' plugins.

[2020-02-02 16:50] Anon0ne commented on #18
Hey, this issue ended up solving itself after an update. Not sure why, but it began showing up later. I would try to reset phone first, otherwise give it a few days maybe for a Tasker update.

[2020-02-02 16:50] Anon0ne commented on #18
They do need to look into the plugin isn't showing up as soon as the app opens though, not sure.

[2020-02-02 18:08] sebastian-ruiz commented on #18
I found it!

When it asks 'Select Action Category' there is a category called 'Plugin' and this is where the 'Home Assistant plugin' is in. Not in '3rd Party'.

Thanks for your help!

[2020-02-05 22:31] GaryOkie commented on #16
My problem is I simply cannot get past this **Network Error** when setting up the https server.

I was attempting to dedicate an old Galaxy S3 phone running Android 4.4.2 as a Tasker server - for things like immediate Skybell doorbell notifications to HASS.   My HASS version is the latest (105), and is external facing via duckdns.

From what I've been able to piece together from this thread, Reddi

[2020-02-17 15:58] GaryOkie commented on #16
**Solved** the Network Error.   It was due to an SSL handshake incompatibility between Home Assistant and the Android 4.4 OS.   This configuration.yaml *http:* option solved the server connection error by enabling a compatible TLS1.2 security protocol:
[code]
The other alternative for an old phone like this is to rebuild it with a custom ROM from XDA Dev's to bring it up to at least Android 7.

[2020-02-26 23:47] patrik-sp opened #22 "Correct JSON gives JSON error when testing service call"
This JSON code gives me JSON error when I test the service call which is strange since the JSON lints ok. Also if I disregard the JSON error and proceeds to run the complete task, the process slows down for this step and then gives a long error log message.

{"entity_id":"input_datetime.patriks_phone_next_alarm_date_and_time","date":"%year-%month-%day","time":"%hour:%minute:00"}

[2020-03-01 23:38] jgrob1 commented on #22
I am getting JSON errors when trying to run scripts, but not when calling services:

23.38.08/E FIRE PLUGIN: Call Service / com.twofortyfouram.locale.intent.action.FIRE_SETTING: 7 bundle keys
23.38.08/E Call Service: plugin comp: com.markadamson.taskerplugin.homeassistant/com.markadamson.taskerplugin.homeassistant.receiver.FireReceiver
23.38.08/E add wait type Plugin1 time 10
23.38.08/E add wait t

[2020-03-11 16:30] sbrisson1 opened #23 "Network Error (after certificate changes ?)"
I noticed that my automation was not working anymore.   The "test server" button was giving me "Network Error".   I then realized that my Let's Encrypts certificate had expired.

So, instead of renew Let's Encrypt I decided to go with a Comodo certificate which I installed successfully.

I can reach the home assistant from the outside using the same URL as configured in the plugin.  Still get Netw

[2020-03-15 23:04] devmau5 opened #24 "State Not Being Written to Variable"
I have a simple task set up that calls Get State, however when I run the task from the task screen the Get State call appears to complete without any errors but the variable is not created/updated. When I hit test entity the correct state is retrieved and appears in the pop-up.

Tested with:
- Galaxy S9 running Android 9
- Tasker 5.9.2 with Plugin 1.1.5
- Home Assistant version 0.102.3

I also not

[2020-03-15 23:12] MarkAdamson commented on #24
Hey,

Could you check that you have a timeout set on your Get State action? If there isn't one set, it will return instantly without populating the variable.

As for no caps being allowed: yep that's a bug.

[2020-03-15 23:49] devmau5 commented on #24
@MarkAdamson, yes I tried various timeouts (10s, 60s, 1200s), did not seem to make a difference.

[2020-03-31 22:00] GaryOkie opened #25 "New Long Lived token won't save"
Hi Mark,

Tasker+HA_plugin has been working great for me the past few months and all of a sudden it has been getting auth failures and getting locked out of HA.   I removed the IP_Ban for the phone, restarted HA, and created a new LL Token  and pasted it into the Access Token field - no problem.

But upon "Test Server", the app gives a "_network error - Unauthorized_" and HA immediately logs an in

[2020-04-01 15:40] GaryOkie commented on #25
Completely wiped the phone that was dedicated for tasker/HASS automation and started over from scratch.  Reinstalled everything.   Now when attempting to add a new server config in the plugin, and after all entered properly, tapping "Test Server" just clears the screen with absolutely nothing saved and no errors on screen.

This is not unique to a single instance of HASS. Set up a new token on a d

[2020-04-01 20:48] GaryOkie commented on #25
Apparently the problem all along was saving the token in a google drive text file to simplify copy/paste between PC and phone.  The token had hidden CR/LF's in it.    This is surely why the token would not save.    Sure would have been nice if there was an internal error preventing the save, the app would shout about it.

I only found out about this by using the "HTTP Shortcuts" Android Restful ap

[2020-06-01 09:20] strelniece commented on #22
Hi,

I have the same issue, this gives JSOn error

{
	"entity_id": "remote.hubbabubba",
	"data": {
		"activity": "Watch TV"
	}
}

[2020-07-07 20:10] schiz0phr3ne commented on #22
Hi all,

I also have the same issue, but only with variable (not with an arbitrary int value).

My JSON :

[code]

[2020-07-19 17:09] trevm8 opened #26 "Get state - Tasker variables don't seem to work"
I have managed to connect to my home assistant server, get the attribute testing correctly but the tasker variable field does not work. I've tried to add several tasker variables and I cannot get them to work. I entered the correct variable name including the %

[2020-08-01 05:24] CohenBrianH commented on #21
@MarkAdamson Can you comment on this please?  I'm having the same exact issue as the other two people who commented on this issue.

[2020-09-16 23:22] DoctorOctagonapus commented on #7
Hey, I'm getting the prompt to go in and disable battery optimisation, but I can't do so because it simply doesn't appear on the list of apps, even the full list of everything installed. Could there be another setting that needs changing in order for it to appear?

[2020-10-20 13:57] hockeymikey opened #27 "Add to f-droid"
https://f-droid.org/en/docs/Submitting_to_F-Droid_Quick_Start_Guide/
I think it would be a wonderful addition.

[2020-10-31 03:06] oddboy commented on #26
Likewise.  I can test successfully in the config screen, but running the task as normal through tasker fails with a TIMEOUT.

Samsung s10+
Android 10

01.23.52/E FIRE PLUGIN: Render Template / com.twofortyfouram.locale.intent.action.FIRE_SETTING: 7 bundle keys
01.23.52/E Render Template: plugin comp: com.markadamson.taskerplugin.homeassistant/com.markadamson.taskerplugin.homeassistant.receiver.Fir

[2020-11-19 21:38] vampirete opened #28 "Network error: unauthorized"
Hi.

I have found this plugin and I love tasker. I have tried to add server but could not. When I do "test service" it appear the message "Network error: unauthorized"

Should the server name be a concrete name?

Have I to do something more?

Thanks

Source: components/http/ban.py:114
Integration: HTTP (documentation, issues)
First occurred: 22:14:13 (1 occurrences)
Last logged: 22:14:13
Login att

[2020-11-22 15:52] #28 closed, assigned to nobody

[2020-12-25 06:15] matejdro opened #29 "Ability to trigger event"
Currently plugin only has the ability to trigger service. It would be helpful if it also had an ability to trigger an event (`/api/events/X` endpoint), with the same argument support than services.

My use case for this is that I want to trigger some AppDaemon events.

[2020-12-29 10:14] harmpert commented on #26
Hi, the issue is a known bug (link  to comment below). The variable field does not allow capitals....
Work around: use a local variable (no capitals in the name) here, then use the variable set action to transfer the value to a global variable...
https://github.com/MarkAdamson/home-assistant-plugin-for-tasker/issues/24#issuecomment-599278071

[2021-01-10 21:09] denperss11 opened #30 "Issue with creating tasker."
Hi.

Love this plugin, but im having trouble by setting it up..
I really hope that some one can guide me..

Flow 1 is:

1 - When contact named "ETC" is calling
2 - A group called "Home" from Home Assistant sould turn on.

Flow 2 is:
1 - When specific number "+000000000" is calling
2 - A automation called "HAHOME" from Home Assistant sould run.

I need this task to run the second the cell phone is

[2021-01-21 19:18] josemabcn opened #31 "Call a service: Not valid Json message"
Hi Mark,

Thanks for your plug-in, but its impossible configure Call Service.

I have followed all the instructions and in the Server Configuration all works ok and when I press the Check Server button all is ok and “connection seccessfull” has beed displayed.

In the Call A Service I fullfill with the following data:
In the service box:_ switch.toogle
In the service data (JSON,optional) box: {“en

[2021-01-21 19:25] josemabcn commented on #31
Solved, it seems that is necessary to start to write the service box and then select the option, if you write directly the option the rror in JSON is displayed....

[2021-01-21 19:25] #31 closed, assigned to nobody

[2021-02-22 07:19] matteobrusa opened #32 "Cannot activate scene"
I'm trying to call the scene.turn_on service.
The service data field contains `{"entity_id":"scene.away"}` which is a valid JSON.
However, when pressing test service i get the toast "Data should be valid JSON."

What am i doing wrong?

[2021-03-24 23:41] ipernjakovic commented on #21
I'm having the exact same problem, did anyone figure it out?

[2021-03-24 23:53] bogus83 commented on #21
There hasn't been any activity on this in over a year, I think it is abandoned.

[2021-03-25 00:04] ipernjakovic commented on #21
I figured i give it a shot... That's too bad though.

[2021-04-11 21:19] bogus83 commented on #21
@MarkAdamson , is there any chance you can review this issue and assist us?

[2021-04-22 02:58] hathalud commented on #25
I recently installed the plugin for the first time ever and it's giving me the same errors. Found the above hypothetical solution and tried directly copying and pasting a new key... still giving the same network unauthorized error.

[2021-07-11 23:59] wmillea commented on #25
Did you ever resolve the Network Error issue?  I'm having the same problem and I'm stumped.

[2021-07-12 13:49] GaryOkie commented on #25
I solved my particular network unauthorized problem and inability to save the token by ensuring a clean copy/paste of the token.  However,  I no longer use this tasker plugin.   It does simplify the setup a little bit but it's not really needed.  The tasker template documented in the HA forum provides a direct means of including the same data fields.

Also note that if you use the HA Companion And

[2021-07-12 13:49] #25 closed, assigned to nobody

[2021-08-02 20:14] codingcatgirl commented on #18
Nope, it's not under Plugins either. Pixel 3a here as well. And yes, i'm trying to add an action.

[2021-08-02 20:17] codingcatgirl commented on #18
Update: Restart your phone and it shows up.

[2021-08-04 22:33] smarthkapoor commented on #24
Hi, im trying to use the home assistant plugin for tasker to get the state of some of my entities. I've been able to connect to my home assistant server, but am not able to populate my global variables with the current state. I am using timeouts and 'variable set' to transfer my task variable to a global variable. Any suggestions would be much appreciated!!

[2021-08-24 06:27] apkraven opened #33 "Macrodroid "get state" variable saving issue"
use same plugins and other plugins of tasker seem to work in macrodroid just fine.
I assume I have something incomplete, but may be an issue as well. Advice appreciated.

Have an input_boolean.sleep which is "off" in HA.
Have created sleepha2 and sleepha3 string global variables in macrodroid (tried with boolean locally as well, didn't seem to work)
"get state":
input_boolean.sleep is auto-identif

[2021-10-04 20:15] Dickstro opened #34 "Call service error"
I want to call service script.name.
If I try the test button it will work, but when I run the task I got an error:

22.11.10/E FIRE PLUGIN: Call Service / com.twofortyfouram.locale.intent.action.FIRE_SETTING: 7 bundle keys
22.11.10/E Call Service: plugin comp: com.markadamson.taskerplugin.homeassistant/com.markadamson.taskerplugin.homeassistant.receiver.FireReceiver
22.11.10/E add wait type Plugin

[2021-10-15 12:15] bmaehr commented on #23
Same here after switching from HTTP to HTTPS with Let's Encrypt

[2021-10-15 12:18] bmaehr commented on #32
Perhaps a space or line feed after the JSON. Or the missing space after the :

The implementation is complaining about to many stupid things.

[2021-10-15 12:19] bmaehr commented on #34
Are you using HTTPS?

[2021-10-15 23:23] bmaehr commented on #16
I had also a network error. The problem was, that the crt file used by home assistant at http.ssl_certificate contained only the certificate but not the certificate path/the parent certificates.

[2021-10-15 23:24] bmaehr commented on #34
I had also a network error. The problem was, that the crt file used by home assistant at http.ssl_certificate contained only the certificate but not the certificate path/the parent certificates.

[2021-10-15 23:25] bmaehr commented on #23
I had also a network error. The problem was, that the crt file used by home assistant at http.ssl_certificate contained only the certificate but not the certificate path/the parent certificates.

[2021-11-01 15:17] vontrapp commented on #28
I have the same problem. What was the solution?

[2021-12-19 19:55] tefracky commented on #21
The same error occured today:

[code]

More precisely, it works in the local network over wifi, but not over mobile network over a domain name.

[2021-12-31 03:59] GGServersDevelopment commented on #28
^Same here, any solution?

[2022-01-01 09:08] MitchTalmadge commented on #28
Also running into this problem. Tried new tokens with no success.

[2022-01-01 09:10] MitchTalmadge commented on #22
Did anyone solve this? I am also getting JSON errors with valid JSON.

[2022-01-01 19:38] GGServersDevelopment commented on #28
Using an older older token worked, seems like the problem is actually with
new tokens

On Sat, Jan 1, 2022, 11:08 AM Mitch Talmadge ***@***.***>
wrote:

[2022-01-16 02:20] KrX3D commented on #24
Hello, i got it working:

1. in the second box you can enter a variable which NEEDS to be lower case, also the variable is irrelevant, it does not need to exist since if it does the value isnt written to it. just input something and hit the arrow to get to the next screen.

![Screenshot_20220116-031200_Home Assistant Plug-in for Tasker](https://user-images.githubusercontent.com/18599852/149644729-

[2022-01-24 08:02] nlafleur opened #35 "GetState device its "brightness" attribute"
Having a problem receiving the "brightness" of my light in my bedroom.
I'm trying to create a wake-up light so I created a task "check alarm", which checks my alarm and sets this value as a variable, this also checks the alarm -14 minutes.

So 14minutes before my alarm goes off it will turn on my nightstand light, preferably with the lowest brightness, then, every 2 minutes (from AlarmTime to Alar

[2022-02-18 16:53] samueltardieu commented on #29
I second this. My use case is sending some notifications intercepted by AutoNotification and sends them to HA event bus for further handling.

[2022-03-03 18:31] daha76 opened #36 "Server url with port"
Hello,

my Home Assistant is running at port 8123 but it looks like it is not supported for the yet in configuration of Base URL. Or am I wrong?

[2022-03-17 21:11] Quixote1 opened #37 "Unclear on how to pass a variable to Home Assistant"
I see that variables are supported, but everything I try fails. Example:
`{ "entity_id": "automation.notification_phone" }`
works fine, but
`{ "entity_id": "automation.notification_phone", "caller_id": "%CNAME" }`
and
`{ "entity_id": "automation.notification_phone", "caller_id": %CNAME }`
give me errors. I'm new at this, so please be patient. Can someone steer me in the right direction?
Thanks in

[2022-03-18 04:06] #37 closed, assigned to nobody

[2022-03-23 11:37] MarkAdamson commented on #35
Hey, surprisingly tricky one this. The Get State action returns the overall state of the light (on or off), and optionally the full set of attributes, which is a long json string _including_ brightness (if the light is on). You could do some finagling within Tasker to extract the brightness from the attribute string, but it's not ideal. You'd be better off rendering a template.

I recommend learni

[2022-03-23 11:39] #24 closed, assigned to nobody

[2022-05-06 09:12] MarkAdamson commented on #21
Hi guys - as you've guessed, I haven't had a lot of time for this project. This issue seems to be a particular bugbear for some people, but it's hard to address when, unfortunately, it's never happened for me.

What would be most useful is if somebody could provide a logcat of the error occurring. For anyone inclined to do so, here is a guide on various ways to take a logcat:
https://www.xda-devel

[2022-06-27 23:38] El-mou33 opened #38 "Json error"
The plugin show me this 2 errors. I can't use the plugin, for me it's impossible to make it work.

![Screenshot_2022-06-28-01-37-01-290_com.markadamson.taskerplugin.homeassistant.jpg](https://user-images.githubusercontent.com/90722688/176054344-39e95ebd-a817-45bb-8eab-95bbd6eb1366.jpg)

![Screenshot_2022-06-28-01-37-08-160_com.markadamson.taskerplugin.homeassistant.jpg](https://user-images.githubu

[2022-07-29 15:24] christiang830 commented on #21
Hi @MarkAdamson, for me this also started to happen when I upgraded to Android 12.

This is a logtrace from my phone filtered for "net.dinglisch.android.taskerm". I tried to call a HA service with timeout of 1. It fails with the aforementioned error: [logcat.txt](https://github.com/MarkAdamson/home-assistant-plugin-for-tasker/files/9221199/logcat.txt)
Full log without filter: [logcat.txt](https://

[2022-08-24 20:09] ITensEI commented on #38
The format should be { "entity_id": "switch.regleta_mediana_socket_3" }

[2022-08-25 13:57] El-mou33 commented on #38
THANKYOU!!!!!!!!

[2022-08-25 13:57] #38 closed, assigned to nobody

[2022-11-23 21:04] Attila-FIN commented on #36
Hello,
For the first few attempts I had the same idea that only the default 443 port would be possible,
but it turned out that the HA token was not properly copied on the Android phone, using the HA Companion app.
I managed to connect by creating the token on desktop and transferring to the phone.
So port 8123 can be used.

UPDATE:
Seems to be still unreliable. After tested successfully with a new